html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    display: inline-block;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.main-title {
    margin-bottom: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(32px, 7vw, 76px);
    color: #fff;
}

.section-title {
    margin-bottom: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(24px, 6vw, 44px);
}

p {
    margin-bottom: 1em;
    font-size: 20px;
    line-height: 1.7em;
}

.bg-white {
    background-color: #fff;
}
.bg-grey {
    background-color: #eee;
}
